.navbar img{
    width: 10%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}

.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px #e0dcdc;
    background-color: #b9b9b7;
}

ul{
    display: flex;    
}

li{
    list-style: none;
    padding: 1px 20px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.search span{
    font-size: 25px;
}
.logout{
    background-color: rgba(255, 0, 0, 0.726);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
}

@media screen and (max-width: 750px) {
    .navbar{
        width: 100vw;
        height: 60px;
        justify-content:center;
        align-items: center;
    }
    .nav-menu{
        margin-left: -32px;
    }
    .navbar img{
        display: none;
    }
    .navbar li{
        font-size: 13px;
        padding: 1px 15px;
    }

}
@media screen and (max-width: 414px) {
    .navbar{
        width: 100vw;
        height: 60px;
        justify-content:left;
        align-items: center;
    }
    .nav-menu{
        margin-left: -32px;
    }
    .navbar img{
        display: none;
    }
    .navbar li{
        font-size: 13px;
        padding: 1px 15px;
    }
}