.container .comment-section p{
    margin: 4px 10px;
    font-size: 14px;
    text-align: left;
}
.comment-section p span{
    font-weight: bold;
    cursor: pointer;
}
.comment-section p span:hover{
    opacity: 0.7;
}


.show-comment{
    position: fixed;
    top:0;
    left: 0;
    background-color: rgb(20,20,20,0.6);
    height: 100vh;
    width: 100vw;
}
.container{
    display: flex;
    width: 70%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 15%;
    height: 80%;
}
.sc-image{
    width: 65%;
    height:100%;
    position: relative;
}
.sc-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-content{
    padding: 10px;
    width: 35%;
    display: flex;
    flex-direction: column;
}
.container .card-header{
    border-bottom: 1px solid rgb(176,176,176);
}
.sc-comments{
    overflow-y: scroll;
    text-align: left;
    height:600px;
}
.sc-comments p{
    margin: 20px 10px;
    justify-content:baseline;
}
.card-pic img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.container .card-comment{
    border-top:1px solid rgb(176,176,176) ;
}
.container .card-content{
    padding:5px;
    border-top: 1px solid rgb(176,176,176);
}
.material-symbols-outlined-close{
    position: absolute;
    cursor: pointer;
    font-size: 40px;
    top: 0;
    right: 0;
    color: black;
}
.material-symbols-outlined-delete1{
    font-size: 20px;
    margin-left: 10px;
}
.material-symbols-outlined-delete{
    position:absolute;
    font-size: 30px;
    cursor: pointer;
    margin: 2px;
    padding: 2px;
    color: white;
    top:0;
    right: 0;
    background-color: red;
    border-radius: 100px;
  }
  .material-symbols-outlined-delete3{
    display: none;
    position:absolute;
    font-size: 30px;
    cursor: pointer;
    margin: 2px;
    padding: 2px;
    color: white;
    top:0;
    right: 40px;
    background-color: red;
    border-radius: 100px;
  }
  @media screen and (max-width: 750px) {
    .container{
        width: 80%;
        height: 70%;
        top:20%;
        left: 10%;
        font-size: 13px;
    }
    .material-symbols-outlined-delete3{
        display: block;
    }
    .container .card-content p{
        font-size: 10px;
    }
    .container .sc-content{
        width: 100%;
    }
    .show-comment .container .sc-image{
        display: none;
    }
    .container .card-comment input{
        font-size: 10px;
    }
    .container .card-comment button{
        font-size: 10px;
    }
}
@media screen and (max-width: 414px) {
    .container{
        width: 80%;
        height: 60%;
        top:10%;
        left: 10%;
        font-size: 13px;
    }
    .show-comment .container .sc-image{
        display: none;
    }
    .container .sc-content{
        width: 100%;
    }
    .container .sc-comments p{
        margin: 8px 8px;
        justify-content:baseline;
    }
    .container .card-content p{
        font-size: 10px;
    }
    .container .card-comment input{
        font-size: 10px;
    }
    .container .card-comment button{
        font-size: 10px;
    }
    .material-symbols-outlined-delete3{
        display: block;
    }
}