.profile {
    max-width: 700px;
    margin: 10px auto;
    min-height: 100vh;
  }
  .profile-top{
    display: flex;
    text-align: left;
  }
  .profile-top h2{
    margin-top: 40px;
    margin-bottom: 0;
  }
  .profile-top h3{
    margin-top: 7px;
  }
  .profile-top p{
    font-size: 16px;
  }
  .profile-picc img{
    cursor: pointer;
    /* user-select: none; */
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    margin: 10px;
    padding:10px ;
  }

  .gallery{
    display: flex;
    flex-wrap: wrap;
  }
  .gallery img{
    cursor: pointer;
    /* pointer-events:none; */
    user-select: none;
    width:205px;
    height: 205px;
    object-fit: cover;
    margin:10px;
  }
  .gallery img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ;
  }