.profile {
    max-width: 700px;
    margin: 10px auto;
    min-height: 100vh;
  }
  .profile-top{
    /* border:1px solid rgb(176,176,176); */
    display: flex;
    text-align: left;
  }
  .top{
    display:flex;
    text-align: left;
    width: 300px;
  }
  .top button{
    width: 70px;
    height: 30px;
    background-color: #A8A8A8;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: auto;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  .top button:hover{
    background-color: #363636;
  }
  .data h2{
    padding: 5px;
  }
  .data h3{
    padding: 5px;
  }
  .profile-data{
    line-height: 17px;
  }
  .profile-top h2{
    margin-top: 40px;
    margin-bottom: 0;
  }
  .profile-top h3{
    margin-top: 7px;
  }
  .profile-top p{
    font-size: 16px;
    margin: 10px;
  }
  .profile-pic img{
    user-select: none;
    width: 200px;
    border-radius: 100px;
    margin: 10px;
    padding:10px ;
  }

  .gallery{
    display: flex;
    flex-wrap: wrap;
  }
  .gallery img{
    user-select: none;
    width:205px;
    height: 205px;
    object-fit: cover;
    margin:10px;
  }
  .gallery img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ;
  }