body{
    overflow-x: hidden;
}
.card{
    display: flex;
    flex-direction: column;
    max-width:600px ;
    height: fit-content;
    border: 1px solid rgb(176,176,176);
    margin: 20px auto;
    border-radius: 5px;
}

.card-header{
    display: flex;
    text-align: left;
    /* border-bottom: 1px solid rgb(176,176,176); */
}
.card-header h3{
    padding: 5px;;
}
.card-pic img{
    width:60px;
    border-radius: 100px;
    margin:0px;
    height: auto;
    padding: 5px;
    object-fit: contain;
}
.card-image{
    margin-top: -5px;
}
.card-image img{
    width:100%;
    object-fit: contain;
    height: 100%;
}

.card-content{
    text-align: left;
    line-height: 4px;
    padding:0px 5px;
    margin:0px 3px;
    border-bottom:1px solid rgb(176,176,176) ;
}
.card-content span{
    margin-top: 5px;
}
.card-content p{
    font-size: 15px;
}

.card-comment{
    display: flex;
    height:25px;
}
.card-comment input{
    flex: 9;
    outline: none;
    border: none;
}
.card-comment button{
    flex:1;
    border: none;
    color:blue;
    font-weight: bold;
    background-color: rgb(105, 205, 255);
    cursor: pointer;
}