.navbar img{
    width: 10%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}

.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px #e0dcdc;
    background-color: #b9b9b7;
}

ul{
    display: flex;
    align-items: baseline;
    
}

li{
    list-style: none;
    padding: 1px 20px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.logout{
    background-color: rgba(255, 0, 0, 0.726);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
}